/* this part contain many aspect based on body, nav, links, and all the functions on H tags */
#nav{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
body { 
    background-color: #e6fae9;
    color: #237019;
    font-family: Arial, Verdana, sans-serif; }

nav { 
        font-weight: bold;
        font-size: 1.25em;
        word-spacing: normal;
    }
        
 

h1 { 
    text-align:justify;
    background-color: #48d466;
    color: #E6E6FA;
    line-height: 200%;
    font-family: Georgia, "Times New Roman", serif;
    text-indent: 1em;
    text-shadow: 3px 3px 5px #CCCCCC; }

h2 { 
    background-color: #bfd4ae;
    color: #02831e;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center; }
    h3{
      color: #000000;
    }

    h4{
      color: #000000;
    }


    #ulist
    {
        list-style-type: none;
    }
    
        .list{
            display: inline-table;
            margin-right: 20px;
        }
      .links{
        text-decoration: none;
        color: rgb(0, 128, 122);
        padding: 5px;
        border: 15px salmon;
        border-radius: 15px;
      }  
      .links:hover{
        background-color:  #19702c;
        color:#f8f8fa;
    }
      .links :visited{
    
        color: rgb(226, 43, 43);
    }

/* this code explain ow the picture and the content is being organized */

div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  div.desc {
    padding: 10px;
    text-align: center;
  }
  
/* this code part explain more better on how the photo will be distributed in 4 place and how it will be in a form of the photo */
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 30px;
    text-align: center;
  }

/* if we comment the down part of this code it will give us full picture with the content */


@media screen and (max-width: 769px) {
  .div.gallary{
    width: 100%;
  }
  
}